<div id="main_nav">
			<div id="navigation">
					<div id="nav">
						<ul>
									<li><a href="#">home</a></li>
									<li><a href="#">about us</a></li>
									<li><a href="#">news</a></li>
									<li><a href="#">finding us</a></li>
									<li><a href="#">gallery</a></li>
									<li><a href="#">feedback</a></li>
									<li><a href="#">contact us</a></li>
<input class="search" type="text" name="search" value="search" />
						</ul>
									
<div id="sub_nav">
			<a href="#">program & faculty</a><a href="#">life@dcma</a><a style="float:right;" href="#">admission</a>
		</div>	
				</div>

		</div>	
		
</div>
