<div id="header">
			<div id="main_header">
			      <div id="school_title">


			      </div>   <!--end of school_title-->
					  <div id="navigation">
					      <div id="nav">
						         <ul>	<% @value.each do |t|%>
												<li><%= link_to "#{t.name}", :controller=>"#{t.controller}",:action=>"#{t.action}"%></li>
														<%end%>
													<input class="search" type="text" name="search" value="search" />
						         </ul>
										  <div>
	                  <ul>
	                    <% @slider.each do|t| %>
	   	                      <li><%= "#{t.caption}" %></li>
	                    <%end%>
		                </ul></div>
                </div>  <!--end of nav-->
                <div id="sub_nav">
                    <ul>
			                    <li><a href="#">program & faculty</a></li>
			                    <li><a href="#">life@dcma</a></li>
			                    <li><a style="float:right;" href="#">admission</a></li>
			              </ul>
		            </div>   <!--end of sub_nav-->
		         </div> <!--end of navigation-->
			</div>  <!--end of main_header-->
 </div>   <!--end of header-->
