*{
margin:0;
padding:0;
}
#main_wrapper{
width:100%;
display:block;
margin:0 auto;
float:left;
background:url("bg.jpg") no-repeat;

}
#wrapper{
width:960px;
margin:0 auto;
display:block;
height:1200px;
margin-top:50px;
background-color:rgba(0,0,0,0.5);


}



img{
	width:260px;
	height:150px;
}
#sliderWrapper1{

	width:300px;
	height:400px;
	float:left;
	/*height:275px;*/
}

.slider1_image{
position:absolute:

}



#management{
	display:block;
	float:left;
	width:230px;
	margin:0 0 0 15px;
	background-color:#b73893;
	height:25px;
border-radius:5px;
}

#management a{
	color:#fff;
	font:13px "arial";
	text-decoration:none;
	margin:12px;
}

#sliderWrapper2{

	width:656px;
	float:left;
	height:400px;
	/*height:275px;*/
}

#management_content{
display:block;
	float:left;
	width:920px;
	margin:20px 20px 0 20px;
	background-color:#b73893;
	height:40px;
	border-bottom:5px solid #000;

}

#management_content p{
color:#fff;
	font:13px "arial";
margin:12px;
}


#sliderUp img, #sliderDown img{
	width:50px;
	height:50px;
}
#sliderUp, #sliderDown{
	width:25px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
}

li > div{
	height:250px;
}
