#header{
width:100%;
display:block;
background-color:#000;
margin: 0 auto;
height:105px;
}
#main_header{
		width:960px;
    display:block;
		margin:0 auto;
		height:105px;
  }
#school_title{
  display:block;
  height:105px;
  float:left;
  width:300px;


}
#navigation{
   display:block;
   height:105px;
   float:right;
   width:660px;

}
#nav{
display:block;
height:70px;
}

#nav ul
  {
    list-style:none;
		margin:20px 0 0 0;
		float:right;
  }
#sub_nav ul
  {
    list-style:none;
				float:right;
  }
#nav li
  {
  dispaly:inline;
	float:left;
	margin-right:12px;
}
  #sub_nav li
  {
  dispaly:inline;
	float:left;

 }
#nav a
{
	text-decoration:none;
	float:left;
	display:block;
	margin:5px 0 0 10px;
	color:#fff;
	font:12px "arial";
}


.search{
  border:none;
  border-radius:3px;;
	margin:0px 0 0 10px;
	width:160px;
	height:20px;
}

#sub_nav{
display:block;
float:right;
width:495px;

}

#sub_nav a{
color:#fff;
float:left;
text-decoration:none;
text-transform:uppercase;
font:16px "arial";
float:left;
margin:0 0 0 30px;
padding:none!important;
}
