<div id="lower_content">
						<div id="dummy_content">
														<div class="lower_slider_content">
																<h2>Welcome To Dummy!</h2>
								
														</div>
									<%=image_tag"a.jpg",:class=>"slider_image" %></br>
									firsr image</br>
									<div id="information">
											<a href="#">Request Information</a>
								</div>
						</div>
								

																	<div id="lower_slider">
																										<div class="lower_slider_content">
																														<h2>Latest News</h2>
																										</div>
																	</div>
								<div id="notice_board">
											<div class="lower_slider_content">
												<h2>Notice Board</h2>
											</div>
										<%=image_tag"e.jpg",:class=>"slider_image" %></br> <!-- image here-->
											123456788765<br/>
										<div id="notices">
										<a href="#">All Notices</a>
							</div>
								</div>
							
</div>
